:host {
  display: inline-block;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

:host:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

:host img {
  width: 100%;
  border-radius: 20px;
}

:host .des {
  text-align: start;
  padding: 10px 0;
}

:host.des span {
  color: #606063;
  font-size: 12px;
}

:host .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  padding-bottom: 7px;
}

:host .des fa-icon {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

:host a fa-icon {
  color: black;
}

:host .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

:host .shopping-cart-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  bottom: 20px;
  right: 10px;
}

@media (max-width: 799px) {
  :host {
    margin: 15px;
  }
}

@media (max-width: 477px) {
  :host {
    width: 100%;
  }
}
