<nav id="header">
  <app-header></app-header>
</nav>

<section id="hero">
  <h3>Trade-in-offer</h3>
  <h2>Super-value-deals</h2>
  <h1>On-all-products</h1>
  <p>Save more with coupons $ up to 70% off!</p>
  <button>Shop Now</button>
</section>

<section id="feature" class="section-p1">
  <app-features
    *ngFor="let feature of features; let i = index"
    [featureImage]="feature.img"
    [featureTitle]="feature.title"
  ></app-features>
</section>

<section id="products" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer collection new modern design</p>
  <div class="pro-container">
    <app-products
      *ngFor="let featuredProduct of featuredProducts; let i = index"
      [productImage]="featuredProduct.image"
      [productBrand]="featuredProduct.brand"
      [productTitle]="featuredProduct.title"
      [productPrice]="featuredProduct.price"
    ></app-products>
  </div>
</section>

<section id="banner" class="section-m1">
  <h4>Repair Services</h4>
  <h2>Up to <span>70% off</span> - All t-Shirts & Accesories</h2>
  <button class="normal">Explore More</button>
</section>

<section id="products" class="section-p1">
  <h2>New Arrivals</h2>
  <p>Summer collection new modern design</p>
  <div class="pro-container">
    <app-products
      *ngFor="let newArrival of newArrivals; let i = index"
      [productImage]="newArrival.image"
      [productBrand]="newArrival.brand"
      [productTitle]="newArrival.title"
      [productPrice]="newArrival.price"
    ></app-products>
  </div>
</section>

<section id="sm-banner" class="section-p1">
  <div class="banner-box">
    <h4>Crazy Deals</h4>
    <h2>Buy 1 Get 1 Free</h2>
    <span>The best classic dress is on sale at Cara</span>
    <button class="white">Learn More</button>
  </div>
  <div class="banner-box banner-box2">
    <h4>spring/ summer</h4>
    <h2>Upcoming Season</h2>
    <span>The best classic dress is on sale at Cara</span>
    <button class="white">Collection</button>
  </div>
</section>

<section id="banner3">
  <div class="banner-box">
    <h2>SEASONAL SALE</h2>
    <h3>Winter Collection - 50% OFF</h3>
  </div>
  <div class="banner-box banner-box2">
    <h2>NEW FOOTWEAR COLLECTION</h2>
    <h3>Spring / Summer 2022</h3>
  </div>
  <div class="banner-box banner-box3">
    <h2>T-SHIRTS</h2>
    <h3>New Trendy Prints</h3>
  </div>
</section>

<section id="newsletter" class="section-p1">
  <div class="newstext">
    <h4>Sign Up For Newsletters</h4>
    <p>
      Get email updates about our latest shop and <span>speacial offers.</span>
    </p>
  </div>
  <div class="form">
    <input type="text" placeholder="Your email address" />
    <button class="normal">Sign Up</button>
  </div>
</section>

<footer class="section-p1">
  <div class="col">
    <img class="logo" src="../assets/img/logo.png" alt="" />
    <h4>Contact</h4>
    <p><strong>Address: </strong>562 Wellington Road, Street 32, CA</p>
    <p><strong>Phone: </strong> +01 2222 365/ (+91) 01 2345 6789</p>
    <p><strong>Hours: </strong>10:00 - 18:00, Mon - Sat</p>
    <div class="follow">
      <h4>Follow Us</h4>
      <div class="icon">
        <i class=""><fa-icon [icon]="faFacebook"></fa-icon></i>
        <i class=""><fa-icon [icon]="faTwitter"></fa-icon></i>
        <i class=""><fa-icon [icon]="faInstagramSquare"></fa-icon></i>
        <i class=""><fa-icon [icon]="faPinterestP"></fa-icon></i>
        <i class=""><fa-icon [icon]="faYoutube"></fa-icon></i>
      </div>
    </div>
  </div>
  <div class="col">
    <h4>About</h4>
    <a href="">About Us</a>
    <a href="">Delivery Information</a>
    <a href="">Privacy Policy</a>
    <a href="">Terms & Conditions</a>
    <a href="">Contact Us</a>
  </div>
  <div class="col">
    <h4>My Account</h4>
    <a href="">Sign In</a>
    <a href="">View Cart</a>
    <a href="">My Wishlist</a>
    <a href="">Track My Order</a>
    <a href="">Help</a>
  </div>
  <div class="col install">
    <h4>Install App</h4>
    <p>From App Store or Google Play</p>
    <div class="row">
      <img src="../assets/img/pay/app.jpg" alt="" />
      <img src="../assets/img/pay/play.jpg" alt="" />
    </div>
    <p>Secured Payment Gateways</p>
    <img src="../assets/img/pay/pay.png" alt="" />
  </div>

  <div class="copyright">
    <p>© 2023, Angular Ecommerce App</p>
  </div>
</footer>
